html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Finolex Cables. | @ViewBag.Title</title>
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta name="keywords" content="@ViewBag.MetaKeywords">
    <meta name="apiToken" content="@ViewBag.ApiToken" />
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <style>
        .loader {
            border: 8px solid #f3f3f3;
            border-top: 8px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
            margin: auto;
            margin-top: 5%;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .hidden { display: none; }
    </style>

    <link rel="stylesheet" href="~/CMS/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/CMS/Content/timeline.css">
    <link rel="stylesheet" href="~/CMS/Content/animations.css">
    <link rel="stylesheet" href="~/CMS/Content/fonts.css">
    <link rel="stylesheet" href="~/CMS/Content/main.css" class="color-switcher-link">
    <link rel="stylesheet" href="~/CMS/Content/shop.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/CMS/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/CMS/magnific-popup/css/magnific-popup.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/CMS/Content/xzoom.css" />

    @{
        string apiToken = ViewBag.ApiToken as string; 
        string AssetPath = (string)System.Web.HttpContext.Current.Application["AssetPath"];
    }
</head>

<body>
    <div id="loader" class="loader hidden"></div>

    <div id="canvas">
        <div id="box_wrapper">
            <section class="page_topline ls section_padding_15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.RenderAction("RenderTopMenu", "Common")
                        </div>
                    </div>
                </div>
            </section>

            <header class="page_header header_white toggler_xs_right section_padding_25">
                <div class="container-fluid manu-header">
                    <div class="row">
                        <div class="col-sm-12 display_table">
                            <div class="header_left_logo display_table_cell">
                                <a href="/View/Page/Home" class="logo top_logo">
                                    <img src="@AssetPath/images/Finolex_logo_header.svg" alt="">
                                </a>
                            </div>

                            @using (Html.BeginForm("SiteSearch", "Home", FormMethod.Post))
                            {
                                <div class="serchbarmobile">
                                    <img id="toggle-search" src="~/images/Serch_icon.svg" style="padding-top: 22px; padding-right: 23px">
                                    <input class="form-control" autocomplete="off" id="searchBar" name="SearchString" type="search" placeholder="Search…" style="display: none;">
                                </div>
                            }

                            @Html.RenderAction("RenderPrimaryMenu", "Common")

                            @using (Html.BeginForm("SiteSearch", "Home", FormMethod.Post))
                            {
                                <div class="header_right_buttons display_table_cell text-right hidden-xs">
                                    <div class="widget widget_search inline-block" style="padding-top: 52px">
                                        <img id="toggle-search1" src="~/images/Serch_icon.svg" alt="Search Product" style="margin-top: -27px">
                                        <input class="form-control" autocomplete="off" id="searchBar1" name="SearchString" type="search" placeholder="Search…" style="display: none;">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </header>

            <section>
                <div>
                    @RenderBody()
                </div>
            </section>

            <footer class="page_footer bgfooter section_padding_top_100 section_padding_bottom_65 table_section">
                <div class="container" style="padding-top: 0px">
                    <div class="row mt-4" style="margin-top: 48px">
                        <div class="col-md-3 col-sm-6 text-center text-sm-left">
                            <div class="widget widget_text">
                                <a href="/View/Page/Home" class="logo vertical_logo">
                                    <img src="@AssetPath/images/finolex-logo-footer.png" alt="">
                                </a>
                            </div>

                            <a class="social-icon color-icon soc-facebook" href="https://www.facebook.com/FinolexCables/" target="_blank" title="Facebook"></a>
                            <a class="social-icon color-icon soc-instagram" href="https://www.instagram.com/Finolex.Cables/" target="_blank" title="Instagram"></a>
                            <a class="social-icon color-icon soc-linkedin" href="https://www.linkedin.com/company/finolex-cables-ltd" target="_blank" title="LinkedIn"></a>
                            <a class="social-icon color-icon soc-twitter" href="https://twitter.com/FinolexCables" target="_blank" title="Twitter"></a>
                            <a class="social-icon color-icon soc-youtube" href="https://www.youtube.com/channel/UCLUlEittWoPYIXf9TAycs_A" target="_blank" title="Youtube"></a>
                        </div>

                        @Html.RenderAction("RenderFooterMenu", "Common")

                        <div class="col-md-3 col-sm-6 text-center text-sm-left">
                            <div class="widget widget_text">
                                <h4 class="widget-title highlight">Corporate Office</h4>
                                <table class="highlightlinks">
                                    <tbody>
                                        <tr>
                                            <td>Address: </td>
                                            <td>26-27, Mumbai-Pune Road, Pimpri, Pune - 411 018.</td>
                                        </tr>
                                        <tr>
                                            <td>Phone: </td>
                                            <td>+91-20-27475963</td>
                                        </tr>
                                        <tr>
                                            <td>Email: </td>
                                            <td><a href="mailto:sales@finolex.com">sales@finolex.com</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-center footer_copywrite">
                            <p class="small-text big copyright">&copy; Copyright 2023. Finolex Cables. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="content">
        <div class="chat-bar-collapsible">
            <button id="chat-button chattop" type="button" class="collapsible" style="width: 191px; margin-left: 180px;">
                <img src="~/CMS/fonts/Chat.svg" style="margin-right: 10px;" alt="Finolex Chatbot" />
                Lets Chat!
            </button>
            <div class="content" id="chat_content">
                <div class="full-chat-block" style="background-size: cover; background-repeat: no-repeat; background-position: center;">
                    <div class="outer-container">
                        <div class="chat-container">
                            <div id="chatbox">
                                <p id="botStarterMessage"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="round_button" class="collapsible" style="display: none;">
                <span style="font-weight: bolder; font-size: 26px; text-align: center;">X</span>
            </button>
        </div>
    </div>

    <script src="~/CMS/scripts/vendor/jquery-3.1.0.min.js" async></script>
    <script src="~/CMS/scripts/vendor/modernizr-2.6.2.min.js" async></script>
    <script src="~/CMS/hammer/1.0.5/jquery.hammer.min.js"></script>
    <script src="~/CMS/fancybox/source/jquery.fancybox.js"></script>
    <script src="~/CMS/magnific-popup/js/magnific-popup.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CVXLHPCZD1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-CVXLHPCZD1');
    </script>
    <script src="~/CMS/scripts/chatbot.js" async></script>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <script>
        const webChatContainer = document.getElementById('botStarterMessage');
        const directLineSecret = "bgIsOzMTQp4.KXHXpNidQYjEsQgpq0W_w44DqTppTy4hr1UMQiV6zb8";

        window.WebChat.renderWebChat(
            {
                directLine: window.WebChat.createDirectLine({ token: directLineSecret }),
                user: { id: 'user_id' },
            },
            webChatContainer
        );
    </script>
    <script>
        document.getElementById('chat-button chattop').addEventListener('click', function () {
            document.getElementById('chat-button chattop').style.display = 'none';
            document.getElementById('round_button').style.display = 'block';
            document.getElementById('chat_content').style.display = 'inline';
            this.classList.add('slide-in');
            document.getElementById('round_button').classList.remove('slide-out');
        });
        document.getElementById('round_button').addEventListener('click', function () {
            document.getElementById('round_button').style.display = 'none';
            document.getElementById('chat-button chattop').style.display = 'block';
            document.getElementById('chat_content').style.display = 'none';
            this.classList.add('slide-out');
            document.getElementById('chat-button chattop').classList.remove('slide-in');
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="~/CMS/scripts/bootstrap.min.js"></script>
    <script src="~/CMS/scripts/compressed.js"></script>
    <script src="~/CMS/scripts/main.js"></script>
    <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
    <script src="~/CMS/Scripts/jquery-ui1.12.1.js"></script>
    <script src="~/CMS/scripts/xzoom.min.js"></script>
    <script src="~/CMS/scripts/setup.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js"></script>
    <script src="~/CMS/scripts/timeline.js"></script>
    <script>
        document.getElementById('toggle-search').addEventListener('click', function () {
            document.getElementById('searchBar').style.display = document.getElementById('searchBar').style.display === 'none' ? 'inline-block' : 'none';
        });

        document.getElementById('toggle-search1').addEventListener('click', function () {
            document.getElementById('searchBar1').style.display = document.getElementById('searchBar1').style.display === 'none' ? 'inline-block' : 'none';
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('loader').classList.remove('hidden');
        });

        window.onload = function () {
            document.getElementById('loader').style.display = 'none';
        };
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>